.header {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
  line-height: 28.11px;
  font-weight: 700;
}
.bar {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: white;
}
.content {
  margin-left: 100px;
  width: 700px;
  height: 700px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
}
.title {
  width: 530px;
  font-size: 48px;
  line-height: 56.3px;
  font-weight: 400;
}
.text {
  width: 320px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
}
.inputContainer {
  width: 530px;
  gap: 20px;
}
.input {
  width: 320px;
  height: 52px;
  border: 0.5px solid grey;
  padding-left: 20px;
  border-radius: 4px;
}
.button {
  width: 160px;
  height: 56px;
  background-color: #0bbef2;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: 0.5px solid grey;
  margin-left: 20px;
  border-radius: 4px;
}
.button:hover,
.input:hover {
  box-shadow: 0px 0px 5px 0px white;
}
.mini-container {
  width: 700px;
  height: 700px;
  margin-left: 100px;
}
/* .container{
  width: 100vw;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
} */
.page {
  color: cyan;
  text-decoration: none;
}
.logo {
  color: black;
  text-decoration: none;
}
.name {
  color: white;
  position: relative;
  top: -50px;
  font-size: 20px;
  z-index: -1;
  height: 100vh;
  background-image: url("./assets/brooke-cagle-cb4Dv50LN1Y-unsplash\ 1.jpg");
  background-size: 100%;
}
.vlog {
  position: relative;
  top: -50px;
  font-size: 20px;
  z-index: -1;
}
.contentVlog {
  margin: 50px;
  width: 300px;
  height: 300px;
  padding: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 5px 5px 5px 0px rgb(200, 200, 200);
  background-color: white;
  flex-direction: column;
}
.imgContent {
  width: 52px;
  height: 56px;
  border-radius: 50%;
}
.star {
  width: 16px;
  height: 17px;
}
.paragraphContent {
  width: 250px;
  height: 180px;
  line-height: 29.37px;
}
.imgContent {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.profileContent {
  width: 300px;
  height: 56px;
  display: flex;
  align-items: center;
}
.nameContent {
  margin-left: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
}
.scroll {
  overflow-x: scroll;
}
.hubTitle {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  width: 400px;
  height: 120px;
}
.hubText {
  font-size: 18px;
  font-weight: 600;
  width: 465px;
  height: 165px;
  color: #182d40;
  line-height: 29px;
}
.imgHubContainer {
  position: relative;
  left: 1000px;
}
.attach {
  height: 130px;
  background-color: white;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
  top: 400px;
  left: -300px;
}
